<script>
	export let data
	import { fly } from 'svelte/transition'
	import '../app.css'
</script>

<nav>
	<ul>
		<li class="logoListItem"><img class="logo" src="/img/PeitisLOGO.png" alt="" /></li>
	</ul>
	<ul>
		<li><a href="/">DOMOV</a></li>
		<li><a href="/about">O NAS</a></li>
		<li><a href="/contact">KONTAKT</a></li>
	</ul>
</nav>

{#key data.url}
	<div in:fly={{x:200,duration:300, delay:300}} out:fly={{x:-200, duration:200}}>
		<slot />
	</div>
{/key}

<style>
	nav {
		padding: 0 20px;
	}
	.logo {
		height: 50px;
	}
	.logoListItem {
		padding: 6px;
	}
</style>
