<script>
	import { onMount } from 'svelte'
	import Animate from '../components/Animate.svelte'
	import { slide, scale } from 'svelte/transition'

	let galery = [
		'DSCN1491',
		'DSCN1492',
		'DSCN1496',
		'DSCN1501',
		'DSCN1503',
		'DSCN1505',
		'DSCN1506',
		'DSCN1507',
		'DSCN1509',
		'DSCN1510'
	]
	let load = false
	onMount(() => {
		load = true
	})
</script>

{#if load}
	<main>
		<div class="main1">
			<div class="main1overlay">
				<div>
					<h1 in:scale={{delay:1000}} class="textCenter">CNC CENTER PEITIS</h1>
				</div>
				<div in:scale={{delay:1300}} class="gridButtons">
					<p class="textCenter">
						<a class="primary actionButton" role="button" href="/about">O NAS</a>
						<a class="contrast outline actionButton" role="button" href="/contact#contact">
							KONTAKT
						</a>
					</p>
				</div>
			</div>
		</div>
		<div class="main2 container">
			<Animate>
				<h4 in:scale|global={{ delay: 300 }} class="textCenter">Naše storitve</h4>
				<p in:scale|global={{ delay: 700, duration: 500 }} class="textCenter">
					Podjetje je specializirano za mehansko obdelavo aluminija in nerjavega jekla po vaših
					načrtih. Zaradi neposredne bližine tovarne aluminija IMPOL imamo hiter dostop do različnih
					kvalitet aluminija in aluminijastih profilov. Proizvajamo razne vrste izdelkov in
					polizdelkov iz kovine in plastike. Poleg rednih serij izdelkov se ukvarjamo tudi s
					proizvodnjo t.i. nultih serij oziroma izdelavo prototipnih izdelkov, tako enostavnih kot
					tudi kompleksnejših.
				</p>
			</Animate>
		</div>
		<Animate treshold={0.1} >
			<div class="main3 galery">
				{#each galery as img, i}
					<img in:slide|global={{ delay: 300 * i }} src="/img/galery/{img}.jpg" alt="" />
				{/each}
			</div>
		</Animate>
		<div class="main4 container">
			<Animate>

			<h4 in:scale|global={{ delay: 300 }}>Naše zmožnosti</h4>
			<div class="main4grid">
				<div in:scale|global={{ delay: 700, duration: 500 }}>
					<h6>Obseg našega strojnega parka nam omogoča:</h6>
					<ul>
						<li>Struženje izdelkov iz palice do premera φ5mm- φ45mm</li>
						<li>Kosovna obdelava do φ200mm in dolžine 500mm</li>
						<li>Rezkanje velikosti kosov 300mm x 1000mm</li>
					</ul>
				</div>
				<div in:scale|global={{ delay: 700, duration: 500 }}>
					<h6>Obdelava poteka na:</h6>
					<ul>
						<li>CNC stružnicah</li>
						<li>CNC stružnih avtomatih</li>
						<li>CNC obdelovalnih centrih</li>
						<li>vrtalni stroji</li>
					</ul>
				</div>
			</div>
			</Animate>
		</div>
	</main>
{/if}

<style>
	.main1 {
		height: 90vh;
		background-image: url('/img/img3.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: scroll;
	}
	.main1overlay {
		display: grid;
		place-content: center;
		background-color: rgba(0, 0, 0, 0.6);
		height: 100%;
	}
	.gridButtons {
		display: grid;
		justify-content: center;
	}
	.actionButton {
		width: fit-content;
	}
	.main2,
	.main4 {
		margin-top: 100px;
		margin-bottom: 100px;
		padding: 0 40px;
	}
	.main3{
		min-height: 400px;
	}
	.galery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 12px;
	}
	.main4grid {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

	.textCenter {
		text-align: center;
	}
	h1 {
		font-size: 62px;
	}
	h4 {
		color: var(--primary);
	}

	@media screen and (max-width: 680px) {
		.main4grid {
			display: grid;
			grid-template-columns: 1fr;
		}
		.galery{
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		}
	}
</style>
