<script>
	import { scale, slide } from 'svelte/transition'
	import Animate from '../../components/Animate.svelte'
	import { onMount } from 'svelte'

	let load = false
	onMount(() => {
		load = true
	})
</script>

{#if load}
	<main>
		<div class="main1">
			<div class="main1overlay">
				<a
					in:scale={{ delay: 700, duration: 500 }}
					role="button"
					class="contrast outline"
					href="#contact"
				>
					<h3 class="noMargin">KONTAKTIRAJTE NAS</h3>
				</a>
			</div>
		</div>
		<Animate>
			<div id="contact" class="main2 container">
				<h4 class="textCenter colorTextPrimary" in:scale={{ delay: 300, duration: 500 }}>
					<i>Vzpostavite stik</i>
				</h4>
				<div in:slide={{ delay: 300, duration: 1000 }} class="contactInfo">
					<div class="box">
						<icon
							in:scale={{ delay: 1000, duration: 700 }}
							class="textCenter fa-solid fa-mobile-screen-button fa-xl"
							style="color: hsl(195, 85%, 41%);"
						/>
						<h6>Telefon</h6>
						<p class="textCenter">+386 51 410 800</p>
					</div>
					<div class="box">
						<icon
							in:scale={{ delay: 1000, duration: 700 }}
							class="textCenter fa-solid fa-location-dot fa-xl"
							style="color: hsl(195, 85%, 41%);"
						/>
						<h6>Naslov</h6>
						<p class="textCenter">
							Špindlerjeva 30 <br />
							Slovenska Bistrica <br />
							Slovenija
						</p>
					</div>
					<div class="box">
						<icon
							in:scale={{ delay: 1000, duration: 700 }}
							class="textCenter fa-solid fa-paper-plane fa-xl"
							style="color: hsl(195, 85%, 41%);"
						/>
						<h6>E-mail</h6>
						<p class="textCenter">info@peitis.si</p>
						<p class="textCenter">prodaja@peitis.si</p>
					</div>
				</div>
			</div>
		</Animate>
		<Animate>
			<div id="contact" class="main3 container">
				<h4 in:scale={{ delay: 300, duration: 500 }} class="textCenter colorTextPrimary"><i>Če imate kakšna vprašanja</i></h4>
				<div in:slide={{ delay: 700, duration: 700 }} class="form">
					<form action="mailto: julian.breznik@student.um.si" method="post">
						<label for="email">E-mail:</label>
						<input type="email" name="email" id="email" required />
						<label for="subject">Zadeva:</label>
						<input type="text" name="subject" id="subject" required />
						<label for="body">Sporočilo:</label>
						<textarea name="body" rows="4" id="body" required />
						<button type="submit">Pošlji</button>
					</form>
				</div>
			</div>
		</Animate>
		<div class="main4">
			<iframe
				title="Peitis d.o.o"
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2751.983018430541!2d15.55953267598853!3d46.38956187122407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476f7e2dba0c9e19%3A0x7ba1cfd3dc9d089e!2s%C5%A0pindlerjeva%20ulica%2030%2C%202310%20Slovenska%20Bistrica!5e0!3m2!1sen!2ssi!4v1688411195103!5m2!1sen!2ssi"
				width="100%"
				height="500"
				style="border:0;"
				allow="fullscreen"
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"
			/>
		</div>
	</main>
{/if}

<style>
	.main1 {
		height: 81vh;
		background-image: url('/img/img2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
	}
	.main1overlay {
		display: grid;
		place-items: center;
		background-color: rgba(0, 0, 0, 0.5);
		height: 100%;
	}
	.noMargin {
		margin: 0;
	}
	.main2 {
		margin-top: 100px;
		margin-bottom: 100px;
		min-height: 300px;
	}
	.contactInfo {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		background: var(--primary);
		gap: 3px;
	}
	.box {
		background: var(--background-color);
		padding: 32px 0;
		display: grid;
		align-content: start;
		justify-content: center;
	}
	.main3 {
		min-height: 600px;
	}
	.textCenter {
		text-align: center;
	}
	.colorTextPrimary {
		color: var(--primary);
	}
	h6 {
		margin-top: 32px;
		margin-bottom: 10px;
		text-align: center;
	}
	p {
		margin: 0;
	}
	icon {
		height: 10px;
	}
	.form {
		padding: 20px 10vw;
	}
</style>
