<script>
	import { onMount } from 'svelte'

	export let treshold = 0.3

	let isInView = false
	// const uuid = Math.random().toString(36).substring(2, 10)
	/**
	 * @type {Element}
	 */
	let element

	onMount(() => {
		const observer = new IntersectionObserver(
			(entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						isInView = true
					}
				})
			},
			{
				rootMargin: '0px',
				threshold: treshold // Adjust this threshold as needed
			}
		)

		observer.observe(element)
	})
</script>

<div class:invisible={!isInView} bind:this={element}>
	{#key isInView}
		<slot />
	{/key}
</div>

<style>
	.invisible {
		opacity: 0;
	}
</style>
