<script>
	import { onMount } from 'svelte'
	import Animate from '../../components/Animate.svelte'
	import { scale, slide } from 'svelte/transition'

	let references = ['dg', 'neuson', 'quadro', 'remus', 'sebring', 'vogel', 'wp']

	let load = false
	onMount(() => {
		load = true
	})
</script>

<main>
	<div class="main1">
		<div class="overlay">
			<h1 in:scale|global={{ delay: 700, duration: 500 }}>O NAS</h1>
		</div>
	</div>
	<Animate>
		<div class="main2 container">
			<h3 in:scale|global={{ delay: 300, duration: 500 }}>CNC CENTER PEITIS d.o.o.</h3>
			<p in:scale|global={{ delay: 700, duration: 500 }}>
				Podjetje CNC CENTER PEITIS je družinsko podjetje, ki je nastalo na podlagi 32 let izkušenj
				na področju obdelave kovin. Temeljna dejavnost podjetja je proizvodnja drobnih kovinskih
				izdelkov za področje avtomobilske industrije, gradbeništva, strojegradnje, pohištvene
				industrije, elektronike in navtike. Našim poslovnim partnerjem lahko ponudimo kvalitetne
				izdelke, kratke dobavne roke, prilagodljivost njihovim zahtevam in primerne tržne cene.
			</p>
		</div>
	</Animate>
	<Animate>
		<div class="main3 container">
			<div class="grid">
				<div>
					<div class="main3Cards">
						<div in:scale|global={{ delay: 500, duration: 500 }}>
							<h6 class="textCenter">Poslujemo od</h6>
							<p class="textCenter">1990</p>
						</div>
						<div in:scale|global={{ delay: 800, duration: 500 }}>
							<h6 class="textCenter">Poslovnih partnerjev</h6>
							<p class="textCenter">128</p>
						</div>

						<div in:scale|global={{ delay: 1200, duration: 500 }}>
							<h6 class="textCenter">Narejenih prototipov</h6>
							<p class="textCenter">812</p>
						</div>
						<div in:scale|global={{ delay: 1500, duration: 500 }}>
							<h6 class="textCenter">Zaposlenih</h6>
							<p class="textCenter">4</p>
						</div>
					</div>
				</div>

				<div in:scale|global={{ delay: 1000, duration: 500 }} class="bgImg6">
					<div class="overlay" />
				</div>
			</div>
		</div>
	</Animate>
	<Animate>
		<div class="main4 container">
			<div class="grid">
				<div in:scale|global={{ delay: 1000, duration: 500 }} class="bgImg8">
					<div class="overlay" />
				</div>
				<div class="main4Text">
					<h4 in:scale|global={{ delay: 300, duration: 500 }}>Zagotavljanje kakovosti</h4>
					<p in:scale|global={{ delay: 800, duration: 500 }}>
						V podjetju posvečamo pozornost uvedbi mednarodnih standardov kakovosti za izdelke. S
						proizvodnim programom smo že od začetka prisotni na zahtevnem avtomobilskem trgu. Vsi
						procesi so načrtovani, izvajani in nadzorovani. Zaupanje kupcev ohranjamo z visokimi
						standardi kakovosti. Podjetje ima vpeljan standard kakovosti ISO 9001:2015, ki je
						pokazatelj naše kakovosti in merilo uspešnosti. Z implementacijo in uvajanjem izboljšav
						omogoča doseganje čedalje boljših rezultatov poslovanja.
					</p>
				</div>
			</div>
		</div>
	</Animate>
	<Animate>
		<div class="main5">
			<h4 in:scale|global={{ delay: 300, duration: 500 }} class="textCenter">Reference</h4>
			<p in:scale|global={{ delay: 600, duration: 500 }} class="textCenter">
				Že vrsto let ponosni dobavitelj za
			</p>
			<div class="references">
				{#each references as img, i}
					<div>
						<img
							in:slide|global={{ delay: 200 * i + 700, duration: 300 }}
							src="/img/reference/{img}.jpg"
							alt=""
						/>
					</div>
				{/each}
			</div>
		</div>
	</Animate>
</main>

<style>
	.main1 {
		height: 81vh;
		background-image: url('/img/img7.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
	}
	.overlay {
		display: grid;
		place-items: center;
		background-color: rgba(0, 0, 0, 0.5);
		height: 100%;
	}
	.main2 {
		margin-top: 100px;
		margin-bottom: 100px;
		padding: 0 40px;
	}
	.main4 {
		margin-top: 100px;
		margin-bottom: 100px;
	}
	.main3Cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		margin: 60px 20px;
	}
	.main3Cards > div {
		background: var(--primary);
		border-radius: 6px;
		padding: 40px 20px;
	}
	.main3Cards > div > p {
		margin: 0;
	}
	.main4Text {
		padding: 40px 0 40px 40px;
	}
	.references {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		gap: 12px;
		margin-bottom: 40px;
	}
	.references>div{
		display: grid;
		place-content: center;
	}
	.bgImg6 {
		background-image: url('/img/img6.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		min-height: 400px;
	}
	.bgImg8 {
		background-image: url('/img/img8.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		min-height: 400px;
	}
	.main5 {
		min-height: 400px;
	}
	h1 {
		font-size: 52px;
	}
	h4 {
		color: var(--primary);
	}
	h6 {
		margin-bottom: 6px;
	}

	.textCenter {
		text-align: center;
	}
</style>
